<div class="container-fluid" id="myContainer">
    <div class="row">
        <%= form_tag("/jobs/post_annotate", :class=>"form-signin", :id=>"annotationForm", :method=>"POST") do %>      
        <div class="col-sm-4 col-md-4 col-md-offset-1">        	
    		<h3><%= @job_to_annotate.title%> @ <%= @job_to_annotate.company_name%></h3>
    		<div id="jobDescription">
	    		<p>
	    			<%=@job_to_annotate.description.html_safe %>
	    		</p>
    		</div>
    		<br/>
        <%= submit_tag "Next!", id: "nextButton", class: "btn btn-primary" %>
    		&nbsp;
        </div>  
        <div class="col-sm-4 col-md-4 col-md-offset-2"> 
 
    		<h2 class="form-signin-heading">Directions</h2>
    		<p><mark class="myMark">Read the job posting on the right and fill in the following information. The form has been "prefilled", but you must double check all values as they are not fully correct.<mark><p>
        <%= check_box_tag 'acceptCheckbox', "1", true %> Posting looks good (readable, in english, a descriptive posting)
				<p>Required skills:</p>
				<p>
          <%= text_area_tag "skillsInput", @sov_annotation.skills.downcase, placeholder: "Absolutely essential skills required", rows:7, id:"skillsInput" %>
				</p>				
				<p>     	
					Nice to have skills:
				</p>
				<p>
          <%= text_area_tag "niceSkillsInput", @sov_annotation.optional_skills.downcase, placeholder: "Non-essential, but nice skills to have", rows:5, id:"niceSkillsInput" %>
				</p>								
				<p>
					Minimum tenure (in years):
				</p>
				<p>
					<div class="btn-group" data-toggle="buttons">
					  <% for ii in 0..15 %>
					  	<% if ii == @sov_annotation.min_tenure %>
						  <label class="btn btn-primary active">
                <%= radio_button_tag "minTenure", ii, true, autocomplete:"off" %>
                <%= ii %>
						  </label>
						<% else %>
						  <label class="btn btn-primary">
                <%= radio_button_tag "minTenure", ii, false, autocomplete:"off" %>
						    <%= ii %>
						  </label>						 
						<% end %>
					  <% end %>
					</div>
				</p>
				<p>
					Maximum tenure (in years):
				</p>
				<p>
          <div class="btn-group" data-toggle="buttons">
            <% for ii in 0..15 %>
              <% if ii == @sov_annotation.max_tenure %>
              <label class="btn btn-primary active">
                <%= radio_button_tag "maxTenure", ii, true, autocomplete:"off" %>
                <%= ii %>
              </label>
            <% else %>
              <label class="btn btn-primary">
                <%= radio_button_tag "maxTenure", ii, false, autocomplete:"off" %>
                <%= ii %>
              </label>             
            <% end %>
            <% end %>
          </div>
				</p>	
				<p>     	
					Required degree type(s):
				</p>
				<p>
          <%= text_field_tag "requiredDegreeInput", @sov_annotation.education_level, id:"requiredDegreeInput" %>
				</p>		
				<p>Required degree major(s):</p>
				<p><%= text_field_tag "requiredMajorInput", @sov_annotation.degree_major, id:"requiredMajorInput" %></p>
				<p>Desired personality attributes</p>
        <p><%= text_field_tag "requiredPersonalityInput", "", id:"requiredPersonalityInput" %></p>
				<p>Functional area</p>
        <p><%= text_field_tag "requiredAreaInput", @sov_annotation.work_area, id:"requiredAreaInput" %></p>
				<p>Commitment Level</p>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info">
          <%= radio_button_tag "fullTime", "full", false, autocomplete:"off" %>
          Full-time
        </label>             
        <label class="btn btn-info">
          <%= radio_button_tag "partTime", "full", false, autocomplete:"off" %>
          Part-time
        </label>   																	
        </div>					
        </div>
      <% end %>

    </div>
</div>
<br/>
<br/>
<br/>
<br/>

Allergan <span class='possible_skill' data-skills='["plc"]'>plc</span> (NYSE: AGN) is a bold, global pharmaceutical company and a <span class='possible_skill' data-skills='["leader"]'>leader</span> in a new industry model – Growth Pharma.  Allergan is <span class='possible_skill' data-skills='["focused"]'>focused</span> on developing, <span class='possible_skill' data-skills='["manufacturing"]'>manufacturing</span> and commercializing branded <span class='possible_skill' data-skills='["pharmaceuticals"]'>pharmaceuticals</span> and biologic products for patients around the world.  Allergan markets a portfolio of best-in-class products that provide novel <span class='possible_skill' data-skills='["treatments"]'>treatments</span> for the <span class='possible_skill' data-skills='["central nervous system"]'>central nervous system</span>, eye care, medical <span class='possible_skill' data-skills='["aesthetics"]'>aesthetics</span> and <span class='possible_skill' data-skills='["dermatology"]'>dermatology</span>, <span class='possible_skill' data-skills='["gastroenterology"]'>gastroenterology</span>, women's health, <span class='possible_skill' data-skills='["urology"]'>urology</span>, anti-infective and <span class='possible_skill' data-skills='["cardiovascular"]'>cardiovascular</span> therapeutic categories. With <span class='possible_skill' data-skills='["commercial"]'>commercial</span> <span class='possible_skill' data-skills='["operations"]'>operations</span> in approximately 100 countries, Allergan is committed to <span class='possible_skill' data-skills='["working with physicians"]'>working with physicians</span>, <span class='possible_skill' data-skills='["healthcare"]'>healthcare</span> providers and patients to deliver <span class='possible_skill' data-skills='["innovative"]'>innovative</span> and meaningful <span class='possible_skill' data-skills='["treatments"]'>treatments</span> that help people around the world live longer, healthier lives.  Our success is powered by our world-class team’s commitment to being Bold for Life. Together, we build <span class='possible_skill' data-skills='["bridges"]'>bridges</span>, power ideas, act fast and <span class='possible_skill' data-skills='["drive results"]'>drive results</span> for our customers and patients around the world by always doing what <span class='possible_skill' data-skills='["it"]'>it</span> is right.   Join one of the world’s fastest growing pharmaceutical companies!   At Allergan you will have the opportunity to thrive in a fast-paced, <span class='possible_skill' data-skills='["strategic"]'>strategic</span> environment where bold, <span class='possible_skill' data-skills='["innovative thinking"]'>innovative thinking</span> isn’t just welcomed, <span class='possible_skill' data-skills='["it"]'>it</span>’s encouraged. Across all functions, we relish the opportunity to help our people fulfill their potential. Our rapid growth <span class='possible_skill' data-skills='["strategy"]'>strategy</span> means plenty of opportunities to step into the <span class='possible_skill' data-skills='["spotlight"]'>spotlight</span>.     Position Description This position manages/performs the activities related to the introduction of all new products and their associated technologies being transferred to the site. Provide <span class='possible_skill' data-skills='["support"]'>support</span> to <span class='possible_skill' data-skills='["r&d"]'>R&D</span> throughout the lifecycle of <span class='possible_skill' data-skills='["process development"]'>process development</span> of a new product up to the <span class='possible_skill' data-skills='["commercial"]'>Commercial</span> <span class='possible_skill' data-skills='["validation"]'>Validation</span> phase as well as site specific projects related to <span class='possible_skill' data-skills='["process improvement"]'>process improvement</span> and <span class='possible_skill' data-skills='["optimization"]'>optimization</span>.  This position interacts at a corporate level with <span class='possible_skill' data-skills='["research and development"]'>Research and Development</span> <span class='possible_skill' data-skills='["r&d"]'>R&D</span>, PSO (<span class='possible_skill' data-skills='["pharmaceutical sciences"]'>Pharmaceutical Sciences</span> and <span class='possible_skill' data-skills='["operations"]'>Operations</span>), Global <span class='possible_skill' data-skills='["procurement"]'>Procurement</span> <span class='possible_skill' data-skills='["sourcing"]'>Sourcing</span> Department, World Wide <span class='possible_skill' data-skills='["quality assurance"]'>Quality Assurance</span> and World Wide <span class='possible_skill' data-skills='["manufacturing"]'>Manufacturing</span> <span class='possible_skill' data-skills='["support"]'>Support</span> among others. Achieves the company’s stated quality objectives through <span class='possible_skill' data-skills='["continuous improvement"]'>continuous improvement</span> efforts and conformance to quality standards. At a site level <span class='possible_skill' data-skills='["it"]'>it</span> interacts with <span class='possible_skill' data-skills='["operations"]'>Operations</span>, <span class='possible_skill' data-skills='["qa"]'>QA</span>/<span class='possible_skill' data-skills='["qc"]'>QC</span>, <span class='possible_skill' data-skills='["engineering"]'>Engineering</span>, <span class='possible_skill' data-skills='["materials"]'>Materials</span>, <span class='possible_skill' data-skills='["finance"]'>Finance</span> and <span class='possible_skill' data-skills='["validations"]'>Validations</span>. Main Areas of Responsibilities This position is <span class='possible_skill' data-skills='["responsible"]'>responsible</span> for one or more of the following duties or activities: - Manage/perform site projects <span class='possible_skill' data-skills='["focused"]'>focused</span> on <span class='possible_skill' data-skills='["technology transfer"]'>Technology Transfer</span>, <span class='possible_skill' data-skills='["process optimization"]'>process optimization</span>, process <span class='possible_skill' data-skills='["trouble shooting"]'>trouble shooting</span> and <span class='possible_skill' data-skills='["new product introduction"]'>new product introduction</span>. - Liaise with corporate <span class='possible_skill' data-skills='["project teams"]'>project teams</span>. - Evaluate project <span class='possible_skill' data-skills='["budgets"]'>budgets</span>, forecast, expenditures and accomplishment of objectives and ensure all projects are executed on time and within <span class='possible_skill' data-skills='["budget"]'>budget</span>. - Assess the <span class='possible_skill' data-skills='["effectiveness"]'>effectiveness</span> of current projects and identify possibilities for new projects and opportunities. - Open and close change controls for each project as necessary. - Review and approve ECR/ECO’s. - Coordinates resources from <span class='possible_skill' data-skills='["engineering"]'>Engineering</span>, <span class='possible_skill' data-skills='["research & development"]'>Research & Development</span>, Pharm Tech, <span class='possible_skill' data-skills='["quality assurance"]'>Quality Assurance</span>, and <span class='possible_skill' data-skills='["production"]'>production</span> <span class='possible_skill' data-skills='["personnel"]'>personnel</span> assigned to specific projects. - Furnish direction to <span class='possible_skill' data-skills='["engineers"]'>engineers</span> and technicians regarding project requirements. - Develops and communicates project timelines and status. - Provide assistance and <span class='possible_skill' data-skills='["technical support"]'>technical support</span> for  <span class='possible_skill' data-skills='["validations"]'>validations</span> of new and site to site product/<span class='possible_skill' data-skills='["raw materials"]'>raw materials</span> transfers. - Write / manage the execution of protocols for <span class='possible_skill' data-skills='["registration"]'>Registration</span> batches for new products and the qualification of new <span class='possible_skill' data-skills='["chemical"]'>chemical</span> <span class='possible_skill' data-skills='["raw materials"]'>raw materials</span> and <span class='possible_skill' data-skills='["components"]'>components</span>. - Work with other departments to ensure identified work items are addressed in a <span class='possible_skill' data-skills='["timely"]'>timely</span> and satisfactory manner. - Perform <span class='possible_skill' data-skills='["filing"]'>filing</span>, <span class='possible_skill' data-skills='["computer"]'>computer</span> input/output tasks and prepare identified reports as required. - Address internal and external customer <span class='possible_skill' data-skills='["queries"]'>queries</span> under the guidance of the department <span class='possible_skill' data-skills='["supervisor"]'>supervisor</span>/<span class='possible_skill' data-skills='["manager"]'>manager</span>. - Provide <span class='possible_skill' data-skills='["support"]'>Support</span> with Submission and Product Approval <span class='possible_skill' data-skills='["documentation"]'>documentation</span>, <span class='possible_skill' data-skills='["ectd"]'>eCTD</span>, PLA. - Ensure that new products and proc

Requirements The following listed requirements need to be met at a minimum level to be considered for the job: Education: - Minimum B.S. <span class='possible_skill' data-skills='["engineering"]'>Engineering</span>, <span class='possible_skill' data-skills='["statistics"]'>statistics</span>, or sciences degree from and accredited institution; Graduate degree is preferred Experience:  - <span class='possible_skill' data-skills='["technical"]'>Technical</span> - Minimum of six (6) years of experience with a minimum of three (3) years woring in relevant areas such as process and <span class='possible_skill' data-skills='["cleaning"]'>cleaning</span> <span class='possible_skill' data-skills='["validations"]'>validations</span> or <span class='possible_skill' data-skills='["technology transfer"]'>technology transfer</span>.  A Master's degree may substitute for one year of experience - <span class='possible_skill' data-skills='["it"]'>IT</span> <span class='possible_skill' data-skills='["systems"]'>Systems</span> - Strong user of <span class='possible_skill' data-skills='["excel"]'>Excel</span> and statistical programs like <span class='possible_skill' data-skills='["minitab"]'>Minitab</span> - <span class='possible_skill' data-skills='["project management"]'>Project Management</span> - Three (3) years of experience <span class='possible_skill' data-skills='["managing"]'>managing</span> and/or coordinating projects - Regulatory: - Work experience in a <span class='possible_skill' data-skills='["gmp"]'>GMP</span> regulated environment preferred - Aseptic - Work experience in an aseptic environment preferred Preferred Skills/Qualification The below skills are attributes that may not be mandatory, but are definitely desired in the ideal candidate. - <span class='possible_skill' data-skills='["analytical skills"]'>Analytical Skills</span>. - <span class='possible_skill' data-skills='["project management", "management skills"]'>Project Management skills</span> and principles. - Strong <span class='possible_skill' data-skills='["financial"]'>financial</span> and <span class='possible_skill' data-skills='["cost accounting"]'>cost accounting</span> skills desired. - Knowledge and understanding of current Good <span class='possible_skill' data-skills='["manufacturing"]'>Manufacturing</span> Practices (<span class='possible_skill' data-skills='["cgmp"]'>cGMP</span>). - Knowledge and understanding of <span class='possible_skill' data-skills='["regulatory compliance"]'>Regulatory Compliance</span> criteria established by Governmental Agencies, Boards of Health and <span class='possible_skill' data-skills='["legislative"]'>Legislative</span> Requirements, such as <span class='possible_skill' data-skills='["fda"]'>FDA</span>, <span class='possible_skill' data-skills='["osha"]'>OSHA</span>, <span class='possible_skill' data-skills='["epa"]'>EPA</span>, and <span class='possible_skill' data-skills='["dea"]'>DEA</span>. - Basic knowledge of <span class='possible_skill' data-skills='["strategic"]'>strategic</span> and <span class='possible_skill' data-skills='["tactical"]'>tactical</span> issues in an <span class='possible_skill' data-skills='["operations"]'>operations</span> environment. - <span class='possible_skill' data-skills='["detail-oriented"]'>Detail-oriented</span> and <span class='possible_skill' data-skills='["self-motivated"]'>self-motivated</span>. - Ability to <span class='possible_skill' data-skills='["handle multiple projects"]'>handle multiple projects</span>, duties, and assignments. - Ability to read, comprehend, write, and communicate effectively in <span class='possible_skill' data-skills='["english"]'>English</span>. - Ability to carry out detailed written or <span class='possible_skill' data-skills='["oral"]'>oral</span> instructions. - Ability to work and communicate with others in a <span class='possible_skill' data-skills='["professional"]'>professional</span> and effective manner, within a <span class='possible_skill' data-skills='["team-oriented"]'>team-oriented</span> environment. - Knowledge and understanding of personal <span class='possible_skill' data-skills='["computer operations"]'>computer operations</span>, including Windows-based <span class='possible_skill' data-skills='["computer"]'>computer</span> <span class='possible_skill' data-skills='["systems"]'>systems</span> such as <span class='possible_skill' data-skills='["microsoft office applications"]'>Microsoft Office applications</span> (<span class='possible_skill' data-skills='["word"]'>Word</span>, <span class='possible_skill' data-skills='["access"]'>Access</span>, <span class='possible_skill' data-skills='["excel"]'>Excel</span>, <span class='possible_skill' data-skills='["powerpoint"]'>PowerPoint</span>, <span class='possible_skill' data-skills='["ms project"]'>MS Project</span>), with an ability to learn other <span class='possible_skill' data-skills='["computer"]'>computer</span> based <span class='possible_skill' data-skills='["systems"]'>systems</span>. - Understanding of <span class='possible_skill' data-skills='["equipment qualification"]'>equipment qualification</span> / <span class='possible_skill' data-skills='["calibration"]'>calibration</span> concepts. - Understanding of pharmaceutical raw material tests and raw material <span class='possible_skill' data-skills='["characterization"]'>characterization</span>. - Understanding of <span class='possible_skill' data-skills='["computer"]'>computer</span> <span class='possible_skill' data-skills='["validation"]'>validation</span> concepts. - Ability to perform intermediate statistical computations (Cp, Cpk, <span class='possible_skill' data-skills='["regression"]'>regression</span>, <span class='possible_skill' data-skills='["analysis"]'>analysis</span>), and practical application of <span class='possible_skill' data-skills='["statistical software"]'>statistical software</span>. - Knowledge and application of <span class='possible_skill' data-skills='["scale-up"]'>scale-up</span> processes for all types of products. - Knowledge and application of <span class='possible_skill' data-skills='["process improvement"]'>process improvement</span> for all types of products. - Knowledge of process / <span class='possible_skill' data-skills='["cleaning validation"]'>cleaning validation</span> and <span class='possible_skill' data-skills='["technical"]'>technical</span> transfer of liquids and creams <span class='possible_skill' data-skills='["formulation"]'>formulation</span> processes. - Ability to employ <span class='possible_skill' data-skills='["sound"]'>sound</span> <span class='possible_skill' data-skills='["leadership skills"]'>leadership skills</span> for providing guidance to <span class='possible_skill' data-skills='["project teams"]'>project teams</span>. - Ability to solve practical problems, considering a variety of <span class='possible_skill' data-skills='["concrete"]'>concrete</span> variables in situations where only limited standardization exists. - Physically able to lift up to 40 lbs. for men and 35 lbs. for women.

<script type="text/javascript">
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    function makeAutoComplete(inputName, availableTags) {
    	$( "#" + inputName)
    	  // don't navigate away from the field on tab when selecting an item
    	  .on( "keydown", function( event ) {
    	    if ( event.keyCode === $.ui.keyCode.TAB &&
    	        $( this ).autocomplete( "instance" ).menu.active ) {
    	      event.preventDefault();
    	    }
    	  })
    	  .autocomplete({
    	    minLength: 0,
    	    source: function( request, response ) {
    	      // delegate back to autocomplete, but extract the last term
    	      response( $.ui.autocomplete.filter(
    	        availableTags, extractLast( request.term ) ) );
    	    },
    	    focus: function() {
    	      // prevent value inserted on focus
    	      return false;
    	    },
    	    select: function( event, ui ) {
    	      var terms = split( this.value );
    	      // remove the current input
    	      terms.pop();
    	      // add the selected item
    	      terms.push( ui.item.value );
    	      // add placeholder to get the comma-and-space at the end
    	      terms.push( "" );
    	      this.value = terms.join( ", " );
    	      return false;
    	    }
    	  });

    }

  //makeAutoComplete("skillsInput", skills);
  //makeAutoComplete("niceSkillsInput", skills);

  degreeTypes = ["Bachelor's", "BA", "BS", "Bachelor of Arts", "Bachelor of Science", "Master's", "MBA", "High School Diploma"]

	makeAutoComplete("requiredDegreeInput", degreeTypes);
	makeAutoComplete("requiredMajorInput", majors);
	//makeAutoComplete("requiredPersonalityInput", []);
	//makeAutoComplete("requiredAreaInput", []);
	
</script>