  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid" id="myContainer">
    <div class="row">
        <%= form_tag("/jobs/post_annotate", :class=>"form-signin", :id=>"annotationForm", :method=>"POST") do %>      
        <div class="col-sm-4 col-md-4 col-md-offset-1">        	
    		<h3><%= @job_to_annotate.title%> @ <%= @job_to_annotate.company_name%></h3>
    		<div id="jobDescription">
	    		<p>
	    			<%=@job_to_annotate.description.html_safe %>
	    		</p>
    		</div>
    		<br/>
        <%= submit_tag "Next!", id: "nextButton", class: "btn btn-primary" %>
    		&nbsp;
        </div>  
        <div class="col-sm-4 col-md-4 col-md-offset-2"> 
 
    		<h2 class="form-signin-heading">Directions</h2>
    		<p>Read the job posting on the right and fill in the following information.<p>
        <%= check_box_tag 'acceptCheckbox', "1", true %> Posting looks good (readable, in english, a descriptive posting)
				<p>Required skills:</p>
				<p>
          <%= text_area_tag "skillsInput", @sov_annotation.skills.downcase, placeholder: "Absolutely essential skills required", rows:5, id:"skillsInput" %>
				</p>				
				<p>     	
					Nice to have skills:
				</p>
				<p>
          <%= text_area_tag "niceSkillsInput", @sov_annotation.optional_skills.downcase, placeholder: "Non-essential, but nice skills to have", rows:4, id:"niceSkillsInput" %>
				</p>								
				<p>
					Minimum tenure (in years):
				</p>
				<p>
					<div class="btn-group" data-toggle="buttons">
					  <% for ii in 0..15 %>
					  	<% if ii == @sov_annotation.min_tenure %>
						  <label class="btn btn-primary active">
                <%= radio_button_tag "minTenure", ii, true, autocomplete:"off" %>
                <%= ii %>
						  </label>
						<% else %>
						  <label class="btn btn-primary">
                <%= radio_button_tag "minTenure", ii, false, autocomplete:"off" %>
						    <%= ii %>
						  </label>						 
						<% end %>
					  <% end %>
					</div>
				</p>
				<p>
					Maximum tenure (in years):
				</p>
				<p>
          <div class="btn-group" data-toggle="buttons">
            <% for ii in 0..15 %>
              <% if ii == @sov_annotation.max_tenure %>
              <label class="btn btn-primary active">
                <%= radio_button_tag "maxTenure", ii, true, autocomplete:"off" %>
                <%= ii %>
              </label>
            <% else %>
              <label class="btn btn-primary">
                <%= radio_button_tag "maxTenure", ii, false, autocomplete:"off" %>
                <%= ii %>
              </label>             
            <% end %>
            <% end %>
          </div>
				</p>	
				<p>     	
					Required degree type(s):
				</p>
				<p>
          <%= text_field_tag "requiredDegreeInput", @sov_annotation.education_level, id:"requiredDegreeInput" %>
				</p>		
				<p>Required degree major(s):</p>
				<p><%= text_field_tag "requiredMajorInput", @sov_annotation.degree_major, id:"requiredMajorInput" %></p>
				<p>Desired personality attributes</p>
        <p><%= text_field_tag "requiredPersonalityInput", "", id:"requiredPersonalityInput" %></p>
				<p>Functional area</p>
        <p><%= text_field_tag "requiredAreaInput", @sov_annotation.work_area, id:"requiredAreaInput" %></p>
				<p>Commitment Level</p>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info">
          <%= radio_button_tag "fullTime", "full", false, autocomplete:"off" %>
          Full-time
        </label>             
        <label class="btn btn-info">
          <%= radio_button_tag "partTime", "full", false, autocomplete:"off" %>
          Part-time
        </label>   																	
        </div>					
        </div>
      <% end %>

    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<script type="text/javascript">
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    function makeAutoComplete(inputName, availableTags) {
    	$( "#" + inputName)
    	  // don't navigate away from the field on tab when selecting an item
    	  .on( "keydown", function( event ) {
    	    if ( event.keyCode === $.ui.keyCode.TAB &&
    	        $( this ).autocomplete( "instance" ).menu.active ) {
    	      event.preventDefault();
    	    }
    	  })
    	  .autocomplete({
    	    minLength: 0,
    	    source: function( request, response ) {
    	      // delegate back to autocomplete, but extract the last term
    	      response( $.ui.autocomplete.filter(
    	        availableTags, extractLast( request.term ) ) );
    	    },
    	    focus: function() {
    	      // prevent value inserted on focus
    	      return false;
    	    },
    	    select: function( event, ui ) {
    	      var terms = split( this.value );
    	      // remove the current input
    	      terms.pop();
    	      // add the selected item
    	      terms.push( ui.item.value );
    	      // add placeholder to get the comma-and-space at the end
    	      terms.push( "" );
    	      this.value = terms.join( ", " );
    	      return false;
    	    }
    	  });

    }

  makeAutoComplete("skillsInput", skills);
  makeAutoComplete("niceSkillsInput", skills);

  degreeTypes = ["Bachelor's", "BA", "BS", "Bachelor of Arts", "Bachelor of Science", "Master's", "MBA", "High School Diploma"]

	makeAutoComplete("requiredDegreeInput", degreeTypes);
	makeAutoComplete("requiredMajorInput", majors);
	makeAutoComplete("requiredPersonalityInput", []);
	makeAutoComplete("requiredAreaInput", []);
	
</script>